@import 'mixins';

$customBorderColor: rgb(224, 224, 224);
$customBorderWidth: 'thin';
$customBorderStyle: 'solid';

.sheetGrid {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  position: relative;

  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
}

.cell {
  &__editable {
    background-color: white;
    width: fit-content;
  }

  &__content {
    padding: 2px 3px;
  }

  &__block {
    border-right: thin solid rgba(223, 223, 223, 0.938);
    border-bottom: thin solid rgba(223, 223, 223, 0.938);
    
    z-index: 0;
    padding: 0 3px;
    box-sizing: border-box;
  }

  &__active {
    position: absolute;
    outline: 2px solid rgb(25, 95, 240);
    outline-offset: -2px;

    &--normal {
      pointer-events: none;
    }

    &--edit {
      box-shadow: #ccc 0 2px 3px 1px;
      padding: 2px 3px;
      background-color: white;
      height: fit-content !important;
      width: fit-content !important;
      box-sizing: border-box;
    }
  }
}

.cellHeader {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6 !important;
  font-size: 12px;

  border-right: thin solid rgb(199, 199, 199);
  border-bottom: thin solid rgb(199, 199, 199);
  
  box-sizing: border-box;

  &__row {
    border-left: thin solid rgb(199, 199, 199);
  }

  &__column {
    border-top: thin solid rgb(199, 199, 199);
  }
}

.richText {
  &__block {
    display: flex;
  }

  &__cell {
    white-space: pre;
  }
}

.selectionArea {
  z-index: 3;
  &__active {
    position: absolute;
    pointer-events: none;
    background-color: rgba(3, 169, 244, 0.1);
  }
  
  &__inactive {
    position: absolute;
    pointer-events: none;
    background-color: rgba(3, 169, 244, 0.1);
  }
}


.contextMenu {
  @include unselectable;
  padding: 6px 0;
  cursor: default;
  

  &__menu {
    padding: 10px;

    &:hover {
      background-color: lightgray;
    }
  }
}

.title {
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  
  &:hover {
    border: 2px solid lightgray;
  }

  &:focus-within {
    border: 2px solid #1E70FF;
  }
}
