@import
  'mixins',
  'variables';

$customBorderColor: rgb(224, 224, 224);
$customBorderWidth: 'thin';
$customBorderStyle: 'solid';

.sheetGrid {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
}

.cell {
  border-left: thin solid rgba(223, 223, 223, 0.938);
  border-top: thin solid rgba(223, 223, 223, 0.938);
  
  box-sizing: border-box;

  &__editable {
    background-color: white;
    width: fit-content;
  }

  &__content {
    padding: 2px 5px;
  }

  &__block {
    padding: 2px 5px;
    z-index: 0;
  }

  &__active {
    position: absolute;
    outline: 2px solid rgba(75, 135, 255, 0.8);
    outline-offset: -2px;

    &--normal {
      pointer-events: none;
    }

    &--edit {
      padding: 2px 5px;
      background-color: white;
      height: fit-content !important;
      width: fit-content !important;
      box-sizing: border-box;
    }
  }
}

.cellHeader {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #f6f6f6 !important;
  font-size: 12px;

  box-sizing: content-box;

  outline: thin solid rgb(199, 199, 199);
  outline-offset: -1px;
}

.richText {
  &__block {
    display: flex;
  }

  &__cell {
    white-space: pre;
  }
}

.selectionArea {
  z-index: 3;
  &__active {
    position: absolute;
    pointer-events: none;
    background-color: rgba(3, 169, 244, 0.1);
  }
  
  &__inactive {
    position: absolute;
    pointer-events: none;
    background-color: rgba(3, 169, 244, 0.1);
  }
}


.contextMenu {
  @include unselectable;
  padding: 10px;
  cursor: default;

  &__menu {
    padding: 20px;

    &:hover {
      background-color: lightgray;
    }
  }
}
