@import 
  'mixins';

.excel {
  height: 100vh;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  overflow: hidden;
  font-size: 12;
  font-family: 'Calibri';

  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
}
