.sheet {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  &:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
  }
}

.cell {
  outline: 1px solid rgb(221, 221, 221);
  outline-offset: -1px;
  padding: 2px;
  box-sizing: border-box;

  &__header {
    text-align: center;
    background-color: #F7F8F9;
  }

  &__editable {
    background-color: white;
    width: fit-content;
  }

  &__active {
    position: absolute;
    outline: 2px solid rgba(75, 135, 255, 0.8) !important;
    outline-offset: -2px;

    &--normal {
      pointer-events: none;
    }

    &--edit {
      padding: 2px;
      box-sizing: border-box;
      background-color: white;
      height: fit-content !important;
      width: fit-content !important;
    }
  }
}

.richText {
  &__block {
    display: flex;
  }

  &__cell {
    white-space: pre;
  }
}

.selectionArea {
  &__active, &__inactive {
    position: absolute;
    pointer-events: none;
    background-color: rgba(3, 169, 244, 0.1);
    outline: 2px solid rgba(69, 131, 255, 0.8);
    outline-offset: -1px;
  }
}